body {
    background-color: rgb(225, 225, 225);
}
.title {
    text-align: center;
    background-color: white;
    padding:1px;
    border-left: 30px;

}
.post {
    background-color: white;
    width:50%;
    margin: auto;
    margin-top: 100px;
}
.post-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.post-header h1 {
margin-left: 10px;
}
.post-header span {
    margin-right: 10px;
    color: grey;
}
img {
    width: 100%;
}
p {
padding:15px;
padding-top: 0px;
}